.commercial--big img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.commercial {
    position: relative;
}
.commercial figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

::selection {
    color: red;
    background-color: yellow;
}