.news--filtered {
    display: none;
}

.filter__button {
    border: solid var(--dark) 2px;
    width: 10em;
    height: 2em;
    margin: 1em auto;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

.filter__button .icon-::after {
    content: "";
    display: inline-block;
    width: 1em;
}

.form__input.filter__option {
    margin: 0;
    position: relative;
}

.filter__option label {
    display: inline-block;
    padding-left: 1em;
    width: 100%;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
}

.filter__option input {
    position: absolute;
    right: 1em;
    top: calc(1em - 6.5px)
}

.filter__option:not(:first-child) {
    border-top: solid var(--dark) 1px;
}

.filter__option:hover {
    background-color: var(--light);
    color: var(--second);
}

.filter__menu {
    position: absolute;
    display: none;
}

.filter__menu.is-active {
    display: block;
    background-color: white;
    border: solid var(--dark) 2px;
    width: 360px;
    left: calc(50% - 180px);
}