.sign-in {
    max-width: 360px;
    margin: 2em auto;
    background-color: white;
    padding: 1em 0;
}

.form__input {
    margin: 1em;
}

.input__heading {
    display: block;
}

.form__submit {
    margin: 1em auto;
    display: block;
}