.swiper {
    width: 80%;
    max-width: 480px;
}

.swiper__head {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: 0.83em 0 0.83em 0;
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}