.hamburger {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
}

.hamburger--button {
    --line: 8px;
    --size: 40px;
    cursor: pointer;
    width: var(--size);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1/1;
}
.hamburger--button span {
    display: block;
    width: 100%;
    height: var(--line);
    background-color: var(--dark);
    border-radius: calc(var(--line) /2);
}


.hamburger.is-active {
    /*vzhled hamburger menu*/
    background-color: var(--prime);
    border: solid 2px var(--dark);
    border-top: none;

    /*zobrazování hamburger menu*/
    display:block;
    z-index: 2;
    top: 100%;
    bottom: -160px;
    right: 0;
    left: -160px;
}

.hamburger__item {
    margin: 0;
    height: var(--size);
    list-style-type: none;
    font-size: 1.1rem;
    display: block;
    border-top: solid var(--dark) 1px;
}

.hamburger__item a {
    text-decoration: none;
    display: block;
    padding-left: 2em;
    color: var(--dark);
    height: 100%;
    line-height: 2em;
}

.hamburger__item--active {
    background-color: var(--dark);
}

.hamburger__item--active a {
    
    color: var(--prime);
}

.nav {
    position: relative; /*umožňuje hamburger-menu vyskočit nad stránku*/

    /*vertikální zarovnání*/
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .hamburger--button {
        display: none;
    }
    .hamburger {
        display: flex;
        position: static;
        width: 100%;
        height: 100%;
        align-items: end;
    }
    .hamburger.is-active {
        border: none;
        display: flex;
        position: static;
        width: 100%;
        height: 100%;
        align-items: end;
    }
    .hamburger__item {
        flex-shrink: 0;
        flex-grow: 1;
        border: none;
        height: min-content;
        border: solid var(--dark) 1px;
        border-radius: 10px 10px 0 0;
    }
    .hamburger__item a {
        padding: 0;
        text-align: center;
        height: min-content;
    }
}