.toggle-menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
}

.hamburger__button {
    --line: 8px;
    --size: 40px;
    cursor: pointer;
    width: var(--size);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1/1;
}
.hamburger__button span {
    display: block;
    height: var(--line);
    background-color: var(--dark);
    border-radius: calc(var(--line) /2);
}


.toggle-menu.is-active {
    /*vzhled toggle-menu menu*/
    background-color: var(--prime);
    border: solid 2px var(--dark);
    border-top: none;

    /*zobrazování toggle-menu menu*/
    display:block;
    z-index: 2;
    top: 100%;
    bottom: -205px; /*5 * 40 px (40 px = 1 řádek) + 5 px (border width)*/
    right: 0;
    left: -160px;
}

.toggle-menu__item {
    margin: 0;
    height: var(--size);
    list-style-type: none;
    display: block;
    border-top: solid var(--dark) 1px;
}

.toggle-menu__item a {
    text-decoration: none;
    display: block;
    padding-left: 2em;
    color: var(--dark);
    height: 100%;
    line-height: 2em;
}

.toggle-menu__item--active {
    background-color: var(--dark);
}

.toggle-menu__item--active a {
    
    color: var(--prime);
}

.hamburger {
    position: relative; /*umožňuje toggle-menu-menu vyskočit nad stránku*/

    /*vertikální zarovnání*/
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .hamburger__button {
        display: none;
    }
    .toggle-menu {
        display: flex;
        position: static;
        width: 100%;
        align-items: end;
    }
    .toggle-menu.is-active {
        border: none;
        display: flex;
        position: static;
        width: 100%;
        align-items: end;
    }
    .toggle-menu__item {
        flex-shrink: 0;
        flex-grow: 1;
        border: none;
        height: min-content;
        border: solid var(--dark) 1px;
        border-radius: 10px 10px 0 0;
    }
    .toggle-menu__item a {
        padding: 0;
        text-align: center;
        height: min-content;
    }
}