:root {
    --light: rgb(240, 240, 240);
    --dark: rgb(20, 75, 58);
    --prime: rgb(118, 247, 187);
    --second:  red;
    --gray: rgb(160, 160, 160);
    color: var(--dark);
    background-color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}

.page__header {
    /*rozložení*/
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-areas: 
    "heading nav";

    /*vzhled*/
    color: var(--dark);
    background-color: var(--prime);
    border-bottom: solid var(--dark) 2px;
}

.main-heading {
    grid-area: heading;
    text-align: center;
}

/*podnadpis*/
.main-heading--sub {
    display: block;
    font-size: 0.5em;
}

.nav {
    grid-area: nav;
}

.page__content {
    padding: 0 1em;
    max-width: 840px;
    margin: auto;
}

.page__footer {
    background-color: var(--gray);
}

.footer__info {
    display: block;
    text-align: center;
}

/*oddělení jednotlivých informací*/
.footer__info:not(:last-child) {
    border-bottom: solid var(--light) 2px;
}

/*responzivní obrázek*/
.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}

/*-----------------------*/
/*Design odkazů na články*/

/*Design figure s odkazem na článek*/
.news {
    margin: 0.5em auto;
    max-height: 200px;
    height: 20vw;
    border: solid var(--dark) 1px;
    background-color: white;
}

.news.news--small {
    max-width: 600px;
}

.news--big {
    height: auto;
    max-width: 300px;
    max-height: none;
}

/*Design obrázku k článku*/
.news__img {
    display: none;
}

.news--big .news__img {
    display: block;
    width: 80%;
    margin: 10%;
}

/*Design názvu článku*/
.news__text {
    margin: auto 0.5em auto 0.5em;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.news--big .news__text {
    padding: 0.5em;
}

.news__heading {
    font-weight: bold;
    text-decoration: none;
    color: var(--dark);
}

.news--big .news__heading {
    text-align: center;
}

.news__peek {
    display: none;
}

/*desktop*/
@media screen and (min-width: 420px) {
    .news--small .news__img {
        display: block;
        height: 100%;
        aspect-ratio: 1/1;
    }
    .news--small.news {
        height: 30vw;
        display: flex;
    }
    .news--small .news__text {
        display: grid;
        grid-template-rows: auto 3em;
    }
    
    .news--small .news__peek {
        display: block;

        /*Vyřešení přetečení textu*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }
}

@media screen and (min-width: 760px) {
    .page__header {
        display: flex;
        width: 100%;
    }
    .main-heading {
        flex-grow: 1;
    }
    .main-heading--sub {
        display: none;
    }
    .nav {
        flex-grow: 1;
    }
    
    .footer__info {
        display: inline;
        gap: 0.25em;
        flex-grow: 1;
    }

    .footer__info:not(:last-child) {
        border: none;
    }

    .page__footer {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-between;
        padding: 1em 0;
    }

    .news.news--big {
        display: flex;
        height: 50vw;
        max-width: 760px;
        max-height: 300px;
    }

    .news--big .news__img {
        margin: 0;
        width: auto;
        height: 100%;
        aspect-ratio: 1/1;
    }

    .news--big .news__text {
        display: block;
    }
}