:root {
    --light: rgb(240, 240, 240);
    --dark: rgb(20, 75, 58);
    --prime: rgb(118, 247, 187);
    --second:  red;
    --gray: gray;
    color: var(--dark);
    background-color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}

.page__header {
    /*rozložení*/
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-areas: 
    "heading nav";

    /*vzhled*/
    color: var(--dark);
    background-color: var(--prime);
}

.main-heading {
    grid-area: heading;
}

.page__nav {
    grid-area: nav;
}

.nav {
    padding: 20px 20px;
}