:root {
    --light: rgb(240, 240, 240);
    --dark: rgb(20, 75, 58);
    --prime: rgb(118, 247, 187);
    --second:  red;
    --gray: rgb(160, 160, 160);
    color: var(--dark);
    background-color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}

.page__header {
    /*rozložení*/
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-areas: 
    "heading nav";

    /*vzhled*/
    color: var(--dark);
    background-color: var(--prime);
    border-bottom: solid var(--dark) 2px;
}

.main-heading {
    grid-area: heading;
    text-align: center;
}

/*podnadpis*/
.main-heading--sub {
    display: block;
    font-size: 0.5em;
}

.nav {
    padding: 20px 20px;
    grid-area: nav;
}

.page__content {
    padding: 0 1em;
}

.page__footer {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
}

.footer__info {
    display: block;
    text-align: center;
}

/*oddělení jednotlivých informací*/
.footer__info:not(:last-child) {
    border-bottom: solid var(--light) 2px;
}

/*responzivní obrázek*/
.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}

/*-----------------------*/
/*Design odkazů na články*/

/*Design figure s odkazem na článek*/
.news {
    margin: 0.25em 0;
    max-height: 200px;
    height: 20vw;
    border: solid var(--dark) 1px;
}

/*Design obrázku k článku*/
.news__img {
    display: none;
}

/*Design názvu článku*/
.news__text {
    margin: auto 0.5em auto 0.5em;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.news__heading {
    font-weight: bold;
    text-decoration: none;
    color: var(--dark);
}

.news__peek {
    display: none;
}

@media screen and (min-width: 420px) {
    .news__img {
        display: block;
        height: 100%;
        aspect-ratio: 1/1;
    }
    .news {
        height: 30vw;
        display: flex;
    }
    .news__text {
        display: grid;
        grid-template-rows: auto 3em;
    }
    
    .news__peek {
        display: block;

        /*Vyřešení přetečení textu*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }
}

